/* post index*/

.nav-pills {
  margin: 20px 0;
}

#post-table .badge {
  background-color: var(--info);
  color: #000;
  border-radius: 5px;
}

.post-authority {
  color: var(--gray);
}

/* post show */

.post-title h1 {
  font-size: 22px;
  padding: 10px 20px;
  background: var(--lbrown)
}
.post-panel {
  padding: 20px 0;
}

.post-panel, .reply-panel {
  display: grid;
  grid-template-columns: 250px 1fr 150px;
}

.post-user-item, .reply-user-item, .user-item {
  text-align: center;
}

.avatar-sm {
  object-fit: cover;
  width: 150px;
  margin: 0 auto;
}

.post-content-item .post-img img {
  max-width: 50%;
  max-height: 300px;
  object-fit: cover;
}

.reply-panel {
  background-color: var(--brown);
  border-bottom: 2px solid var(--bgblack);
  padding: 20px 0;
}

.reply-form-panel {
  padding: 20px 50px;
}

.friend-btn {
  margin-top: 5px;
}

/* post new */

.post-form {
  margin-top: 20px;
}

.post-form input {
  margin-bottom: 10px;
}

.post-form-choice {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px 0;
  margin-bottom: 20px;
}

.post-form-choice .checkbox-panel label {
  margin-right: 10px;
}

.post-form-choice .checkbox-panel input {
  margin-right: 5px;
}

/* reply */

.reply-edit-form {
  display: none;
}

/* user show */

.user-profile-panel {
  display: grid;
  grid-template-columns: 300px 1fr;
}

/* my friend */

.my-friend-panel .waiting-panel,
.my-friend-panel .accept-panel,
.my-friend-panel .friend-panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.my-friend-panel h5 {
  grid-column: 1 / -1;
  text-align: center;
}

/* feed */

.site-panel {
  margin: 20px auto;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} 

.site-panel div {
  justify-self: center;
  text-align: center;
}

.rank-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 16px;
}

.rank-panel .panel-body .panel-body-content {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.rank-panel .panel-body .panel-body-item {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-row: 1fr;
  grid-gap: 10px;
}

.rank-panel .panel-body .panel-body-item div:first-of-type {
  justify-self: end;
}

.rank-panel .panel-body div, 
.rank-panel .panel-body a {
  color: #000;
}