/* post index*/

.nav-pills {
  margin: 20px 0;
}

#post-table .badge {
  background-color: var(--info);
  color: #000;
  border-radius: 5px;
}

.post-authority {
  color: var(--gray);
}

#categories-panel .nav {
  text-align: center;
}

/* post show */

.post-title h1 {
  font-size: 22px;
  padding: 10px 20px;
  background: var(--lbrown)
}

.post-panel {
  padding: 20px 0;
}

.post-panel, .reply-panel {
  display: grid;
  grid-template-columns: 250px 1fr 150px;
}

.post-user-item, .reply-user-item, .user-item {
  text-align: center;
}

.avatar-sm {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.avatar-sm img{
  object-fit: cover;
}

.post-content-item .post-img {
  width: 50%;
  height: 300px;
  margin-bottom: 20px;
}

.post-content-item .post-img img {
  object-fit: cover;
}

.reply-panel {
  background-color: var(--brown);
  border-bottom: 2px solid var(--bgblack);
  padding: 20px 0;
}

.reply-form-panel {
  padding: 20px 50px;
}

.friend-btn {
  margin-top: 5px;
}

/* post new */

.post-form, .user-form  {
  margin-top: 20px;
}

.post-form input,  .user-form input {
  margin-bottom: 10px;
}

.post-form-choice {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px 0;
  margin-bottom: 20px;
}

.post-form-choice .checkbox-panel label {
  margin-right: 10px;
}

.post-form-choice .checkbox-panel input {
  margin-right: 5px;
}

/* reply */

.reply-edit-form {
  display: none;
}

/* post new edit */

.post-form-choice input {
  color: #FFF; 
}

/* user show */

.nav-tabs a:hover {
  color: var(--danger);
}

.user-profile-panel {
  display: grid;
  grid-template-columns: 300px 1fr 150px;
  margin: 20px 0;
}

/* my comment */

.my-comment-panel .my-comment-item,
.my-comment-panel .reply-panel {
  padding: 10px 20px;
  background: #000;
}

.my-comment-panel .my-comment-item:nth-of-type(odd),
.my-comment-panel .reply-panel:nth-of-type(odd) {
  background: var(--lbrown);
}

.my-comment-panel .reply-panel {
  display: grid;
  grid-template-columns: 1fr 150px;
}

.my-comment-panel .reply-panel .my-comment-title {
  grid-column: 1 / -1;
}

.my-comment-panel .my-comment-item .my-comment-cotent,
.my-comment-panel .reply-panel .reply-content-item {
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 10px;
  color: #000;
  background: #FFF;
}

.my-comment-panel .reply-panel .edit-delete-group {
  justify-self: center;
  align-self: center;
}

/* my friend */

.my-friend-panel .waiting-panel,
.my-friend-panel .accept-panel,
.my-friend-panel .friend-panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  margin-bottom: 10px;
  padding: 20px; 
}

.my-friend-panel h4 {
  grid-column: 1 / -1;
  text-align: center;
}

.my-friend-panel > div:nth-of-type(odd) {
  background: var(--lbrown);
}

/* user edit */



/* admin */

.admin-nav-tabs {
  margin-top: 20px;
}

.admin-category-table {
  width: 70%;
  margin: 0 auto;
}

.admin-category-table tr th:first-child,
.admin-category-table tr td:first-child, 
.admin-user-table tr th:first-child,
.admin-user-table tr td:first-child {
  text-align: start;
}

.admin-category-form {
  width: 70%;
  margin: 20px auto;
}

.admin-user-table select {
  color: #000;
}

/* feed */

.site-panel {
  margin: 20px auto;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} 

.site-panel div {
  justify-self: center;
  text-align: center;
}

.rank-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 16px;
}

.rank-panel .panel-body .panel-body-content {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 10px;
}

.rank-panel .panel-body .panel-body-item {
  display: grid;
  grid-template-columns: 20px 1fr 30px;
  grid-row: 1fr;
  grid-gap: 10px;
}

.rank-panel .panel-body .panel-body-item div:first-of-type {
  justify-self: end;
}

.rank-panel .panel-body .panel-body-item div:nth-of-type(3) {
  justify-self: center;
} 

.rank-panel .panel-body div, 
.rank-panel .panel-body a {
  color: #000;
}

.rank-panel .panel-body a:hover {
  color: var(--danger);
}