/* post show */

.post-panel, .reply-panel {
  display: grid;
  grid-template-columns: 300px 1fr 150px;
}

.post-user-item, .reply-user-item, .user-item {
  text-align: center;
}

.avatar-sm {
  object-fit: cover;
  width: 150px;
  margin: 0 auto;
}


/* reply */

.reply-edit-form {
  display: none;
}

/* user show */

.user-profile-panel {
  display: grid;
  grid-template-columns: 300px 1fr;
}

/* my friend */

.my-friend-panel .waiting-panel,
.my-friend-panel .accept-panel,
.my-friend-panel .friend-panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}

.my-friend-panel h5 {
  grid-column: 1 / -1;
  text-align: center;
}